SCM_DO_BUILD_DURING_DEPLOYMENT="true"
ApplicationInsightsAgent_EXTENSION_VERSION="~3"
APPLICATIONINSIGHTSAGENT_EXTENSION_ENABLED="true"
WEBSITE_HTTPLOGGING_RETENTION_DAYS="7"
XDT_MicrosoftApplicationInsights_Mode="default"

APPLICATIONINSIGHTS_CONNECTION_STRING="connection_string"

FLASK_KEY="some_long_value"

AZURE_OPENAI_API_TYPE="azure"
AZURE_OPENAI_KEY="sas_key"
AZURE_OPENAI_ENDPOINT="https://aoai_endpoint_name.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2024-02-15-preview"
AZURE_OPENAI_MODEL="gpt-4o"

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT="https://docintell_endpoint.cognitiveservices.azure.com/"
AZURE_DOCUMENT_INTELLIGENCE_KEY="sas_key"

AZURE_COSMOS_ENDPOINT="https://azure_cosmos_name.documents.azure.com:443/"
AZURE_COSMOS_KEY="sas_key"
AZURE_COSMOS_DB_NAME="GenerateHardwareSpecs"
AZURE_COSMOS_FILES_CONTAINER_NAME="files"
AZURE_COSMOS_RESULTS_CONTAINER_NAME="results"

WEBSITE_AUTH_AAD_ALLOWED_TENANTS="tenant_guid" 
MICROSOFT_PROVIDER_AUTHENTICATION_SECRET="app_secret"
CLIENT_ID="app_aka_client_guid"
TENANT_ID="tenant_guid"